@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl; /* Heading 1 */
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl; /* Heading 2 */
    }

    h3 {
        @apply text-xl font-bold sm:text-2xl; /* Heading 3 */
    }

    h4 {
        @apply text-lg font-bold; /* Heading 4 */
    }

    h5 {
        @apply text-base font-bold; /* Heading 5 */
    }

    a {
        @apply underline transition hover:opacity-80;
        color: #00eaff; /* Change link color to #00eaff */
    }

    pre {
        @apply p-6 overflow-x-auto rounded-lg;
    }

    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-[#1f1f1f] text-[#F67280];
        font-size: 0.9em;
    }

   .logo {
    width: 30vw; /* Adjust width relative to viewport width */
    height: 130px; /* Maintain aspect ratio */
    max-width: 340px; /* Maximum width */
    max-height: 130px; /* Maximum height */
    margin: 10px auto; /* Center with top/bottom margins */
    display: block; /* Center in a block-level element */
}

@media (max-width: 640px) {
    .logo {
        width: 50vw; /* Wider for smaller screens */
        max-width: 80px; /* Limit max width on mobile */
        max-height: 60px; /* Limit max height on mobile */
    }
}
}

@layer components {
    .markdown > h1,
    .markdown > h2 {
        @apply mt-12 mb-6;
    }

     .flex.justify-center {
        padding-top: 0 !important;  /* Remove top padding */
    }

    .markdown > p,
    .markdown > pre {
        @apply my-6;
    }

    .markdown > :first-child {
        @apply mt-0;
    }

    .markdown > :last-child {
        @apply mb-0;
    }

    .btn:disabled {
        @apply text-neutral-400 bg-neutral-700;
    }
}
