---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16 text-center">
    <p class="text-sm sm:text-base">
        Made with <span role="img" aria-label="heart">❤️</span> by 
        <a href="https://usersguide.netlify.app/" class="decoration-dashed text-primary underline-offset-8"> UsersGuide Netlify </a>
    </p>
    <p class="text-xs sm:text-sm">
        <span class="block sm:inline">info[@]fmpromagazine.com</span>
    </p>
</footer>
